.imageElement--imageCard__service {
  max-height   : 186.62px;
  width        : 100vw;
  border-radius: 13.82px 13.82px 0px 0px !important;
}

.imageElement--hero__desktop {
  max-width : 1280px;
  max-height: 422px;
}

.container {
  padding        : 0px;
  display        : flex;
  justify-content: center;
  align-items    : center;
}

.logoContainer--logo__company {
  max-width : 32px;
  max-height: 16px;
  padding   : 0px 16px 0px 8px;
}

.searchBarContainer {
  border-radius: 40px !important;
  max-width        : 280px;
  max-height       : 40px;
}

.autoCompleteOuterContainer--search__bar__desktop {
  border-radius: 40px !important;
  max-width        : 280px !important;
  max-height       : 40px !important;
}