.wishlistIconContainer--likes__Product {
  display        : flex;
  justify-content: center;
  align-items    : center;
  padding        : 6px 12px 6px 12px;
  max-width          : 44px;
  max-height         : 32px;
  border         : 1px solid #1d2734;
  border-radius  : 4px;
}

.wishlistIcon--likes__Product {
  max-width : 20px;
  max-height: 20px;
}