.slideChildrenContainer--carousel__service {
  width: 324px;
  height: 390.89px;
}
.flexRowContent--card__container__service--home {
  height: 340px;
  width: 324px;
}


.flexRow--description__service__card {
  width: 324px;
  height: 79.19px;
}

.flexColChild--card__service--home{
  width: 324px;
  height: 186.62px;
  left: 40px;
}

.flexRowContent--set__icons__desktop {
  margin-left: 72px;
  width: 1136px;
}

.flexRow--first__header__desktop{
  background-color: #FFFFFF;
  width: 1280px;
  top: 56px;
}

.flexCol--card__service--home{
  align-items: center;
  justify-content: center;
  max-width: 324px;
  height: 340px;
  background-color: #FFFFFF;
  padding-bottom: 13.82px;
  border-radius: 12px;
}

.flexCol--container__discounts__likes{
  display: flex;
  flex-direction: row;
  width: 212px;
  height: 32px;
  align-items: center;
  justify-content: space-between;
}

.ColChild--container__discounts__likes{
    border: 1px solid #1d2734;
    width: 44px;
    height: 32px;
    padding: 6px 12px 6px 12px;
    border-radius: 4px;
}

.stretchChildrenWidth{
  max-width: 1280px;
}

.flexRow--header__icons{
  background-color: #ffffff;
  width: 1280px;
}

.stretchChildrenWidth{
  width: auto;
}
