.flexRow {
  max-width: 1280px;
  width    : 100%;
  margin   : 0 auto;
  overflow : hidden;
}

.slideChildrenContainer--info__card--home {
  max-width : 324px;
  max-height: 390.89px;
}

.flexRowContent--info__card--slider--home--home {
  max-height: 340px;
  max-width : 324px;
}

.flexRow--description__service__card {
  max-width : 324px;
  max-height: 79.19px;
}

.flexColChild--card__service--home {
  max-width : 100%;
  max-height: 186.62px;
}

.flexColChild--container__discounts__likes {
  max-height: 60%;
}

.flexRowContent--set__icons__desktop {
  margin-left: 72px;
  max-width  : 1136px;
}

.flexRow--first__header__desktop {
  background-color: #FFFFFF;
  max-width       : 1280px;
  padding         : 3.5rem 4.5rem 0px 4.5rem;
}

.flexCol--card__service--home {
  align-items     : center;
  justify-content : center;
  max-width       : 324px;
  max-height      : 340px;
  background-color: #FFFFFF;
  padding-bottom  : 13.82px;
  border-radius   : 12px;
}

.flexCol--container__discounts__likes {
  display        : flex;
  flex-direction : row;
  max-width      : 212px;
  max-height     : 32px;
  align-items    : center;
  justify-content: space-between;
  margin-bottom  : 12px;
}

.ColChild--container__discounts__likes {
  border       : 1px solid #1d2734;
  max-width    : 44px;
  max-height   : 32px;
  padding      : 6px 12px 6px 12px;
  border-radius: 4px;
}

.stretchChildrenWidth {
  max-width: 1280px;
}

.flexRow--header__icons {
  background-color: #ffffff;
  max-width       : 1280px;
}

.stretchChildrenWidth {
  max-width: auto;
}

.flexRow--text__header__desktop {
  font-weight    : 400;
  font-size      : 12px;
  line-height    : 15px;
  color          : #1d2734;
  text-decoration: none;
}

.flexRow--text__header__desktop {
  font-weight    : 400;
  font-size      : 12px;
  line-height    : 15px;
  color          : #1d2734;
  text-decoration: none;
  display        : flex;
  margin-left    : 2rem;
}

.flexRowContent--text__header__desktop {
  display        : flex;
  align-items    : center;
  justify-content: right;
}

.flexRowContent--container__categories__icons {
  max-width: 1280px;
}

.flexRow--container__categories__icons {
  max-width: 1280px;
}

.stretchChildrenWidth {
  max-width: 1280px;
}

.wrapper--categories__header__desktop {
  max-width: 1280px;
}

.container--categories__header__desktop {
  max-width: 1280px;
}