.paginationDot {  
  width: 16.96px !important;  
  height: 16.96px !important;  
  background-color: transparent;
  position: relative;  
  display: flex;  
  align-items: center;  
  justify-content: center;  
  margin: 0 2px;
}
.paginationDot--isActive::before {  
  content: "";  
  position: absolute;  

  width: 16.96px;  
  height: 16.96px;      
  background-color: #1d2734;  
  border-radius: 50%;
}
.paginationDot::after {  
  /* content allow us to use  in abosulte */
  content: "";  
  position: absolute;  
  top: 50%;  
  left: 0;  
  width: 44px;  
  height: 1.41px;  
  background: repeating-linear-gradient(    
    to right,    
    #1d2734,    
    #1d2734 12px,    
    transparent 12px,    
    transparent 24px  
  );  
  transform: translateX(-25%);
}



.flexRowContent--product__container__shelf{
  width: 1280px;
  height: 340px;
}