.productHighlightText--product__highlight__text{
  color: #FA2080;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  display: flex;
  justify-content: start;
  margin: 0px 4px 8px 0px;
  width: 85px;
}

.productHighlightText--product__highlight__text[data-highlight-id="150"] {
  display: none;
}